.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: 100dvh;
    background: white;
    color: linear-gradient(to bottom right, #1a73e8, #0049b7);
    text-align: center;

  }
  
  .hero-content {
    max-width: 100vw;
  }
  
  .hero h1 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .hero-button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .hero-button:hover {
    background-color: #e68a00;
  }
  